.progress-ti{padding-bottom:6px;padding-top: 10px;margin-bottom:5px;line-height:1.5;}
.sm{opacity:.7}
/*
#drawer *,.mdui-toolbar *,.mdui-panel-item *,.mdui-dialog *,.mdui-fab-wrapper i,.music__list__item.play{color:#000 !important}
#drawer,#homebar,#player .mdui-toolbar,.mdui-fab-wrapper button,.mdui-panel-item,.music-player__list,.mdui-dialog{
background-image: linear-gradient(to left, #fff1eb 0%, #ace0f9 100%) !important;
}
.mdui-progress-determinate{background-color:#ace0f9 !important}
.music__list__item{color:#444 !important}
.mdui-fab-wrapper button{z-index:99 !important}
*/
